.timeline ul {
    padding: 1em 0 0 2em;
    list-style: none;
    position: relative;
}

.timeline ul::before {
    content: ' ';
    height: 100%;
    width: 1px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 2.2em;
    z-index: -1;
}


li div {
    display: inline-block;
    vertical-align: top;
}

.bullet {
    width: 1em;
    height: 1.7em;
    box-sizing: border-box;
    border-radius: 50%;
    background: white;
    z-index: 1;
    border: 2px solid blueviolet;

}

.pink {
    border: 2px solid pink;
}

.green {
    border: 2px solid green;
}

.orange {
    border: 2px solid orange;
}

.time {
    /*width: 20%;*/
    font-size: 0.75em;
    padding-top: 0.25em;
}

.desc {
    width: 50%;
}
