html {
  font-size: 15px;
  font-family: "Calibri", serif;
  color: white;
  background-color: #2a2c2d;
}

.main-container {
  border: solid purple;
  min-height: 100vh;
  height: 100%;
  width: 70%;
  margin: auto;
}

.content-overview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;


}

.v-card {
  flex: 0 1 calc(80% / 3);
  min-width: 200px;
  max-width: calc(80% / 3);
  height: 300px;
  border: solid 1px palevioletred;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "header" "title" "content" "subtext";
  grid-template-rows: 5fr minmax(0, 2fr) minmax(0, 3fr) 2fr;
  grid-template-columns: minmax(0, 1fr);


  .header {
    grid-area: header;
    border-radius: inherit;
    background-color: slateblue;
    margin: 10px 10px;
  }

  .title {
    grid-area: title;
    margin: 0 10px;
  }

  .content {
    grid-area: content;
    font-size: 12px;
    overflow: auto;
    margin: 0 10px;
  }

  .subtext {
    grid-area: subtext;
    padding-top: 5px;
    font-size: 10px;
    color: grey;
    border-top: solid 1px grey;
    margin: 5px 10px;

    u {
      text-decoration: underline;
      text-decoration-color: palevioletred;
    }
  }


}



