* {
    font-size: 12px;
    /*color: white;*/
    /*background: #232526;*/
}

.smooth-in {
    animation-duration: 1s;
    animation-name: slidein;
    animation-direction: normal;
}

@keyframes slidein {
    from {
        margin-left: 50%;
    }

    50% {
        margin-left: 25%;
    }

    to {
        margin-left: 0%;
    }
}

.height {
    height: 93vh;
}

.card {
    height: 100px;
}