.custom-card {
  display: grid;
  grid-template-areas:
        "tl tc tr"
        "l c r"
        "bl bc br";
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #75797a;
  color: white;
  white-space: nowrap;
  height: 80px;
  grid-auto-flow: column;
  .top-left {
    grid-area: tl;
  }

  .top-center {
    grid-area: tc;
  }

  .top-right {
    grid-area: tr;
  }

  .left {
    grid-area: l;
    align-self: center;
    justify-self: start;
    margin-left: 8px;
    margin-right: auto;
  }

  .center {
    grid-area: c;
    justify-self: start;
  }

  .right {
    grid-area: r;
    align-self: start;
    justify-self: end;
    margin-right: 8px;

  }

  .bottom-left {
    grid-area: bl;
  }

  .bottom-center {
    grid-area: bc;
  }

  .bottom-right {
    grid-area: br;
  }

  .flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.custom-card:hover{
  background: #75797a;
  border: 1px solid #75797a;
  border-radius: 10px;
}

.custom-card:hover * {
  background: #75797a;
}

img {
  width: 50%;
  height: 60%;
  border-radius: 50%;
  border: solid 1px gray;
  outline: solid 1px darkgray;
}

.search {
  width: 90%;
  height: 30px;
  padding-left: 8px;
  border: solid 1px;
  border-radius: 10px;
}

.height {
  height: 93vh;
}